@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply overflow-hidden;
  color: theme('colors.text-white');
  background: theme('colors.black');
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
