@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  ::-webkit-scrollbar {
    width: 6px;
  }

  ::-webkit-scrollbar-track {
    background: #ffffff;
    border-radius: 8px;
  }

  ::-webkit-scrollbar-thumb {
    background: #6c6c6c;
    border-radius: 4px;
  }
}

body {
  @apply overflow-hidden;
  color: theme('colors.text-white');
  background: theme('colors.black');
  font-family: var(--font-roboto);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .line-clamp-2 {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    word-wrap: break-word;
  }
}
